<h1>プラン投稿</h1>

<%= form_with model: @plan, local: true do |f| %>
  <%= render 'devise/shared/error_messages', resource: @plan %>
  <div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :region %>
      <%= f.select :region, options_for_select(Plan.regions.keys) %>
      <%= f.label :prefecture %>
      <%= f.select :prefecture, options_for_select(Plan.prefectures.keys) %>
    </div>
  </div>
  <%= f.fields_for :destinations do |destination| %>
    <div id='plan-form'>
      <div>
        <%= destination.label :name %>
        <%= destination.text_field :name %>
      </div>
      <div>
        <%= destination.label :description %>
        <%= destination.text_area :description %>
      </div>
    </div>
    <input type='button' value='フォーム追加' onclick='addForm()'>
  <% end %>
  <%= f.submit '投稿' %>
<% end %>

<script>
  let i = 1;
  function addForm() {
    // フォームを追加
    let name_form = document.createElement('div');
    name_form.id = `name_form_${i}`;
    let description_form = document.createElement('div');
    description_form.id = `description_form_${i}`;

    let name_label = document.createElement('label');
    name_label.for = `plan_destinations_attributes_${i}_name`;
    name_label.innerHTML = 'Name';

    let name_data = document.createElement('input');
    name_data.type = 'text';
    name_data.name = `plan[destinations_attributes][${i}][name]`;
    name_data.id = `plan_destinations_attributes_${i}_name`;

    let description_label = document.createElement('label');
    description_label.for = `plan_destinations_attributes_${i}_description`;
    description_label.innerHTML = 'Description';

    let description_data = document.createElement('textarea');
    description_data.name = `plan[destinations_attributes][${i}][description]`;
    description_data.id = `plan_destinations_attributes_${i}_description`;

    name_form.appendChild(name_label);
    name_form.appendChild(name_data);
    description_form.appendChild(description_label);
    description_form.appendChild(description_data);

    let parent = document.getElementById('plan-form');
    parent.appendChild(name_form);
    parent.appendChild(description_form);

    // フォーム削除ボタンを追加
    let delete_button = document.createElement('button');
    delete_button.id = i;
    delete_button.onclick = function() {deleteForm(this);}
    delete_button.innerHTML = '削除';
    parent.appendChild(delete_button);

    i++;
  }

  function deleteForm(target) {
    let target_id = target.id;
    let parent = document.getElementById('plan-form');
    let name_form = document.getElementById(`name_form_${target_id}`);
    let description_form = document.getElementById(`description_form_${target_id}`);
    let button = document.getElementById(target_id);
    parent.removeChild(name_form);
    parent.removeChild(description_form);
    parent.removeChild(button);
  }
</script>