<h1>プラン投稿</h1>

<%= form_with model: @plan, local: true do |f| %>
  <%= render 'devise/shared/error_messages', resource: @plan %>
  <div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :region %>
      <%= f.select :region, options_for_select(Plan.regions.keys) %>
      <%= f.label :prefecture %>
      <%= f.select :prefecture, options_for_select(Plan.prefectures.keys) %>
    </div>
  </div>
  <% n = 0 %>
  <%= f.fields_for :destinations do |destination| %>
    <h2>目的地<%= n += 1 %></h2>
    <div>
      <%= destination.label :name %>
      <%= destination.text_field :name %>
    </div>
    <div>
      <%= destination.label :description %>
      <%= destination.text_area :description %>
    </div>
  <% end %>
  <%= f.submit '投稿' %>
<% end %>