<header>
  <div class='container'>
    <%= link_to 'Share Travel', root_path %>
    <nav>
      <ul class='nav'>
        <li><%= link_to 'ホーム', root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to '投稿', new_plan_path %></li>
          <li><a href='#'></a></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>